@import "tailwindcss";

@font-face {
  font-family: 'Absurdite';
  src: url('/fonts/Absurdite.otf') format('opentype');
  font-weight: normal; /* Или укажите реальный вес, если он не normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Добавьте здесь другие @font-face правила для других начертаний (Medium, Semibold и т.д.), если необходимо */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  /* Устанавливаем шрифт по умолчанию для текста */
  font-family: 'SF Pro Display Regular', sans-serif;
}

h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 400; /* font-regular */
  margin-bottom: 1.5rem; /* mb-6 */
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem; /* text-7xl */
  }
}

.hover-lift {
  cursor: pointer; /* Изменяем курсор на указатель */
}

.hover-lift:hover {
  transform: translateY(-25px);
  color: #769AB8; /* Изменяем цвет текста на черный при наведении */
}
